<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SymboSlate</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/js/bootstrap.js">
</head>
<body style="background:#FFFFFF" class="container main">
    <div class="row" style="margin:40px 0px">
        <div class="col-sm-12 col-md-12 col-ls-12 col-xl-6">
            <div>

                <img src="/images/login.png" alt="" style="width:85%;height:auto;padding:10px;opacity: 0.9;">
            </div>
            <form action="/login" method="post">
                <h2 style="padding-top: 50px;font:normal normal bold 30px/1px IBM Plex Sans;color:#461143">Login</h2>
                <br>
                <input required type="text" class="input" name="uname" id="uname" placeholder="Username" >
                <br><br>
                <input required type="password" class="input" name="password" id="passwd" placeholder="Password">
                <p  class="alert">
                    <% if(login){ %>
                        Incorrect Username or Password
                    <% } %>
                </p>
                <input type="submit" value="LOGIN" class="Button" >
            </form>
        </div>
        <div class="col-sm-12 col-md-12 col-ls-12 col-xl-6">
            <img src="/images/Logo/Logo.png" alt="" style="width:100%;height:auto;padding:10px;opacity: 0.9;">

            <form action="/register" method="post" style="margin-left:0px" >
                <div style="text-align: right;">
                    <h2 style="padding:96px 0 0 17%;text-align: left;font:normal normal bold 30px/1px IBM Plex Sans;color:#461143">Register</h2>
                    <br>
                    <input required type="text" class="input" name="name" id="name" placeholder="Your Name" >
                    <br><br>
                    <input required type="number" class="input" name="regId" id="regid" placeholder="Register id" >
                    <br><br>
                    <input required type="email" class="input" name="email" id="email" placeholder="Email ID" >
                    <br><br>
                    <input required type="text" class="input" name="uname" id="username" placeholder="Username" >
                    <br><br>
                    <input required type="password" class="input" name="passwd" id="passwd" placeholder="Password" >
                    <p class="alert" style="padding-left:16%;">
                        <% if(register){ %>
                            All Fields are Required
                        <% } %>
                    </p>
                    <input type="submit" value="REGISTER" class="Button">

                </div>
            </form>
        </div>

    </div>
  


   <style>
    @font-face {
        font-family: IBM;
        src: url(/Fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf);
    }
    .alert{
        margin:0px;
        text-align:left;
        font:normal normal 600 20px/23px AppleSystemUIFont;
        color:#CB0808;
        padding-top:10px;
    }
    .Button{
        width:83%;
        height:55px;
        border-radius: 0px 20px;
        text-align: center;
        font:normal normal 600 25px/1px IBM Plex Sans;
        color:#FFFFFF;
        background:#461143;
    }
    .input{
        width:83%;
        height:55px;
        border-radius: 0px 20px;
        font-size: 20px;
        padding-left: 20px;
        border:1px solid #ADADAD;
    }
    ::placeholder{
        color:#ADADAD
    }
    input:focus{
        outline:none
    }
   </style>
</body>
</html>